swagger: '2.0'
info:
  description: Sample wether app creaqted to get to know swagger
  version: 1.0.0
  title: WeatherApp
  termsOfService: 'http://swagger.io/terms/'
  contact:
    email: vimukthim@wso2.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: api.openweathermap.org
basePath: /data/2.5
tags:
  - name: weather
    description: Todayas Weather
    externalDocs:
      description: Find out more
      url: 'https://openweathermap.org/current'
  - name: forecast
    description: wether forcast of the cities
    externalDocs:
      description: Find out more about our store
      url: 'https://openweathermap.org/forecast16'
schemes:
  - https
  - http
paths:
  /weather:
    get:
      responses:
        '200':
          description: Wether of The Given City ID
        '401':
          description: >-
            Invalid API key. Please see http://openweathermap.org/faq#error401
            for more info
        '404':
          description: Unable to find the URL path
        '429':
          description: >-
            Your account is temporary blocked due to exceeding of requests
            limitation of your subscription type.
      parameters:
        - name: id
          in: query
          required: false
          type: number
          description: ID of the City
        - name: q
          in: query
          required: false
          type: string
          description: Name of the city
        - name: appid
          in: query
          required: true
          type: string
          description: key - c0430ab5b358094192e01693bb0adef5
          default: c0430ab5b358094192e01693bb0adef5
      x-auth-type: Application & Application User
      x-throttling-tier: 50KPerMin
  /forecast:
    get:
      responses:
        '200':
          description: Fore Cast of the Given city
        '401':
          description: >-
            Invalid API key. Please see http://openweathermap.org/faq#error401
            for more info
        '404':
          description: Unable to find the URL path
        '429':
          description: >-
            Your account is temporary blocked due to exceeding of requests
            limitation of your subscription type.
      parameters:
        - name: id
          in: query
          required: false
          type: number
          description: ID of the City
        - name: q
          in: query
          required: false
          type: string
          description: Name of the city
        - name: appid
          in: query
          required: true
          type: string
          description: key - c0430ab5b358094192e01693bb0adef5
          default: c0430ab5b358094192e01693bb0adef5
      x-auth-type: Application & Application User
      x-throttling-tier: 50KPerMin
x-wso2-policies:
  cashe:
    isenabled: false
    responseCache: Disabled
    cacheTimeout: 300
  #Quota Policy on the API
  quota: 
    isenabled: true
    apiLevelPolicy: 10KPerMin
  corsConfiguration:
    isenabled: false
    corsConfigurationEnabled: false
    accessControlAllowOrigins:
    - '*'
    accessControlAllowCredentials: false
    accessControlAllowHeaders:
    - authorization
    - Access-Control-Allow-Origin
    - Content-Type
    - SOAPAction
    accessControlAllowMethods:
    - GET
    - PUT
    - POST
    - DELETE
    - PATCH
    - OPTIONS
  enableSchemaValidation:
    isenabled: false false
  mediationPolicies:
    isenabled: false
    inSequence: #policies for in-Sequence goes here
    outSequence: #policies for out-Sequence goes here
    fault-Sequence: #policies for fault-Sequence goes here 
  subcriptionPolicies:
    isenabled: false #Wso2 subscription tiers and other details 
    availableTiers:
    -
      name: Bronze
      displayName: Bronze
      description: Allows 1000 requests per minute
      requestsPerMin: 1000
      requestCount: 1000
      unitTime: 1
      timeUnit: min
      tierPlan: FREE
      stopOnQuotaReached: true
    availableSubscriptionLevelPolicies: []
    subscriptionAvailability: all_tenants
  apiSecurity:
    isenabled: true
    name: oauth2
  